
.form-check-input.dark:checked {
background-color: #333;
border-color: #333;
}

.form-check-label.dark {
color: #fff;
}


/* navbar */
nav.dark {
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
gap: 2rem;
padding: 1rem;
}

.dark nav a {
  color: white;
}

.dark .dark-mode-toggle {
border: none;
background-color: black;
}    

.dark .portfolio-brand {
color: white;
font-size: 2rem;
}

.dark .dark-mode-toggle {
border: none;
color: white
}
    
.dark .dark-mode-toggle:hover {
border: none;
color: #f48924;
background-color: black;
}

.dark .contact-container, 
.dark .resume-container {
  background-color: black;
}

.dark .hero-container, 
.dark .contact-container,
.dark .footer-container  {
  background-color: rgb(33, 33, 33);
}

.dark .resume-left i {
  color: white
}

.dark .card {
  background-color: black;
}

.project-img {
  border-color: rgb(139, 79, 36);
}

.dark .project-shadow {
  color: white;
  background-color: rgb(33, 33, 33);
  box-shadow: .5px .5px 15px 1px rgb(38, 34, 34);
  border-radius: 10px;
  border-color: rgb(202, 202, 202);
}

.dark .resume-container {
  color: white;
}

.dark button, .dark .button {
  background-color: black;
  color: #BC5D2E;

}

.dark button:hover, .dark .button:hover {
  background-color: #BC5D2E;
  color: black;
  border: 1px solid rgb(202, 202, 202);
}


/* mobile settings */
@media screen and (max-width: 769px) {
  #navbar.active {
    background-color: black;
    box-shadow: 0 40px 60px white;

  }






}
