* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* navbar */
nav {
  background-color: #f5f5f5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: rgb(79, 79, 79);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;  
  transition: 0.3s ease-in-out;

}

nav li {
  padding: .5rem;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  color: #D34F31;
}

nav li:hover {
  color:  #D34F31;
  transition: 0.3s ease-in-out;

}

nav li:hover::after{
  content: "";
  width: 2.5%;
  height: 1.3px;
  background-color:  #D34F31;
  position: absolute;
}

#mobile {
  display: none;
}

#mobile i {
  color: rgb(79, 79, 79);
  align-items: center;
}


/* header */
.hero-container, 
.contact-container, 
.resume-container {
  background-color: #D34F31;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.hero-container p , .contact-container p {
  font-size: 24px;
}

.left-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex: 0.5;
}

.left-container img {
  width: 500px;
  padding: 1.6rem;
  margin: 0 auto;
 }

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.5;
  gap: .8rem;
  text-align: center;
  padding: 1rem;
  color:#f5f5f5;
}

.right-container>:nth-child(2) {
  color:#f5f5f5;
  font-size: 48px;
  font-family: 'Bangers', cursive;
}

button, .button {
  border-radius: 34px;
  border: none;
  color: #f5f5f5;
  background-color: rgb(79, 79, 79);
  margin: 0 auto;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

button:hover, .button:hover {
  transform: translateY(-3px);
  background-color: #f5f5f5;
  color:  rgb(79, 79, 79);
  border: 1px solid rgb(79, 79, 79);

}

.hero-button {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
}


/* project  */
.project-container p {
  font-size: 18px;
  padding: 10px 30px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  margin-top: 2rem;
}

.project-container h2 {
  margin: 20px;
}

.project-container button {
  padding: 10px;
  margin: 20px 5px;
}

.card {
  flex: 1 0 calc(33.33% - 10px);
  padding: 50px;
}

.project-img {
  width: 250px;
}

/* contact */
.right-container .user {
  width: 20rem;
  height: 2rem;
  padding: .5rem;
  outline: none;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
}

.contact-container .left-container {
  font-size: 2rem;
  color: #f5f5f5;
  padding: 50px;
  justify-content: center;
}

.message-container {
  color: #f5f5f5;
}
 
input {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  min-height: 6rem;
  max-height: 12rem;
  min-width: 20rem;
  max-width: 20rem;
  font-family: 'Montserrat', sans-serif;
}

.resume-container {
background-color: #f5f5f5;
display: flex;
justify-content: space-evenly;
height: 100vh;
}

.resume-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-left div {
  display: flex;
  flex: 1 0 calc(33.33%);
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.resume-container h2 {
padding: 40px;
}

.resume-button, .contact-button{
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
}


/* footer */
.footer-container{
  background-color: #D34F31;
}

.footer-container i {
  color: #f5f5f5;
}

.footer-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 20vh;
  
}

/* mobile settings */
@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }

  #navbar.active {
    right: 0px;
  }

  nav li {
    margin-bottom: 25px;

  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 2rem;
    cursor: pointer;
  }

  .hero-container p {
    font-size: 16px;
    
  }

  .project-container h2 {
  padding: 50px  
}

  .project-container p {
    font-size: 16px;
    padding: 10px 30px;
  }

  .project-container button {
    padding: 10px;
  }

  .right-container>:nth-child(2) {
    color:#f5f5f5;
    font-size: 32px;
  }

  .left-container img {
    width: 350px;
    padding: 1.6rem;
    margin: 0 auto;
   }

   .card {
    flex-basis: 100%;
    padding: 10px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container h2{
    margin-top: 10%;
    font-size: 32px;
  }

  .hero-container {
    flex-direction: column;
  }

  .resume-container {
    height: 100vh;
    flex-direction: column;
  }

  .resume-container h2 {
    font-size: 32px;
    padding: 40px;;
  }
  
}

/* Utility classes */

/* Animations */
@keyframes slideInLeft {
  
  from {
    transform: translateX(-500px)
  }

  to {
    transform: translateX(0)
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in 1 normal;
}